:root {
  --primary-color: #295CCB8C;
  --secundary-color: #485cc7;

}

body {
  margin: 0;
  padding: 0;

}

/*cabeçalho*/
header {
  background-color: var(--primary-color);
  display: flex;
}

#logo {
  width: 150px;
  height: 150px;
}

.brrPesq {
  padding: 0;
  position: relative;
  width: auto;
  height: 50px;
  top: 50px;
  left: 90px;

}

.brrPesq #brPesq {
  visibility: hidden;
  width: 1300px;
  height: 35px;
  border-radius: 25px;
  border: none;
  margin-top: 5px;
}

#btPesq {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../img/pesquisar.svg);
  background-color: transparent;
  background-size: cover;
  border: none;
  margin-left: 5px;
}

.inputSubmit {
  width: 100px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: var(--secundary-color);
  font-family: 'Inter', sans-serif;
  color: white;
}

.inputSubmit a {
  text-decoration: none;
  color: white;
}

.inputSubmit:hover {
  opacity: 80%;
}

.bts {
  height: 50px;
  position: absolute;
  margin-top: 10px;
  right: 0;
  margin-right: 10px;
}

.menu {
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-around;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 20px;
  padding-bottom: 0;
}


.menu ul li a {
  text-decoration: none;
  color: black;

}

/*
.menu ul li:hover {
  border-bottom: 3px solid #295CCB;
  border-style: 58%;
  padding: 5px;

}
*/
.selecionado {
  border-bottom: 3px solid #295CCB;
  border-style: 58%;
  padding: 5px
}

/* seções*/
/*.conteiner {
  width: auto;
  height: 400px;
  width: 90%;
  margin-top: 5px;
  padding: 0;
  margin-left: 50px;
} */

h2 {
  margin-left: 40px;
  margin-top: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
}

/* .conteiner img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  position: absolute;
  left: 10px;
} */

.conteiner h3 {
  margin-left: 60px;
  font-family: monospace;
  font-size: 2em;
}

dialog {
  position: absolute;
  background-color: #D1DFE1;
  border: none;
  width: 400px;
  height: 400px;
  text-align: center;
}

dialog h2 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
}

dialog input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0B2C4D;
  width: 200px;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 15px;
  text-align: center;
}

.btSair {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-style: bold;
  right: 0;
  top: 0;
}

dialog label {
  float: left;
  width: 100px;
  text-align: left;
  margin-left: 100px;
}

dialog button {
  margin-top: 10px;
}

.perfiheader {

  background: url(../img/ondulacao.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  border-bottom: 1px solid #fff;
  position: relative;
}

#menu {
  background-color: #fff;
}

.imgPerfil {
  position: absolute;
  left: 95px;
}

/*FOTO DE PERFIL REDONDAAAAAAAAAAAAA*/
.fotoPerfil {

  margin-top: 30px;
  border-radius: 50%;

}

/* o bendito carrossel */

.carrosel {
  position: relative;
  padding: 15px;
  max-width: auto;
  margin: 0 auto;
}

.arrow-right,
.arrow-left {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  text-align: center;
  width: 40px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, blue 350%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
  transition: all 600ms ease-in-out;
}

.arrow-right {
  position: absolute;
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, blue 350%);
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.gallery-wrapper {
  overflow-x: auto;
  width: 95%;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-flow: row nowrap;
}

.gallery-wrapper .gallery {
  display: flex;
  position: relative;
  top: 0;
}

#gallery1 {
  background-color: rgb(255, 255, 255);
  display: flex;
}

#gallery2 {
  display: flex;
}

.item {
  width: 250px;
  height: 250px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  margin-right: 10px;

}

.current-item:hover {
  opacity: 1;
}


/* This is from w3schools 
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp 
/* Hide scrollbar for Chrome, Safari and Opera 
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox 
.gallery-wrapper {
  -ms-overflow-style: none; /* IE and Edge 
  scrollbar-width: none; /* Firefox 
}*/

.cyan {
  background: cyan;
}

.deeppink {
  background: deeppink;
}

.turquoise {
  background: turquoise;
}

.darkblue {
  background: darkblue;
}

.purple {
  background: purple;
}

/*emi*/

.my-prev {
  background-color: #295CCB;
}

/*postagens na tela inicial*/
.conteinerPost {
  width: auto;
  height: 400px;
  width: 90%;
  margin-top: 5px;
  padding: 0;
  margin-left: 50px;

}

.conteinerPost h2 {
  margin-left: 40px;
  margin-top: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
}

.conteinerPost .Ipostagens {
  width: auto;
  margin: 10px, 0, 0, 10px;
  position: absolute;
}

.Ipostagens .post {
  list-style: none;

  display: inherit;
  width: 600px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;

}

.Ipostagens .post #imgPost {

  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  background-size: cover;
  margin-left: 20px;
  margin-top: 10px;
}

.Ipostagens .post h4 {
  font-family: 'Jaldi', Arial, Helvetica, sans-serif;
  font-size: 1em;
  ;
  position: absolute;
  margin-left: 80px;
  margin-top: 20px;
}

.Ipostagens .post .textoPost {
  width: 500px;
  height: 200px;
  background-color: #4e93d8;
  position: absolute;
  margin-top: 60px;
  margin-left: 60px;
  border-radius: 15px;
}

.textoPost p {
  margin-left: 10px;
}

/*RESPONSIVIDADE*/

#primeiro {
  background-color: #fff;
  /* border: hidden; */
}

/*RESPONSIVIDADE*/


@media screen and (max-width:1400px) {
  #logo {
    width: 100px;
    height: 100px;

  }

  .brrPesq {
    position: relative;
    width: 750px;
    height: 30px;
    left: 250px;
  }

  .brrPesq #brPesq {
    width: 600px;
    height: 30px;
  }

  .brrPesq #btPesq {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
}

@media screen and (max-width:480px) {

  header {
    height: 100px;
    position: absolute;
  }

  #logo {
    width: 40px;
    height: 40px;
    justify-content: center;
  }

  .brrPesq {
    position: relative;
    width: 750px;
    height: 30px;
    left: 250px;
  }

  .brrPesq #brPesq {
    width: 600px;
    height: 30px;
  }

  .brrPesq #btPesq {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
}