:root {
  --primary-color: #295CCB8C;
  --secundary-color: #485cc7;

}

body {
  margin: 0;
  padding: 0;

}

/*cabeçalho*/
header {
  background-color: var(--primary-color);
  display: flex;
}

#logo {
  width: 150px;
  height: 150px;
}

.brrPesq {
  padding: 0;
  position: relative;
  width: auto;
  height: 50px;
  top: 50px;
  left: 90px;

}

.brrPesq #brPesq {
  visibility: hidden;
  width: 1300px;
  height: 35px;
  border-radius: 25px;
  border: none;
  margin-top: 5px;
}

#btPesq {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url(../img/pesquisar.svg);
  background-color: transparent;
  background-size: cover;
  border: none;
  margin-left: 5px;
}

.inputSubmit {
  width: 100px;
  border-radius: 10px;
  border: none;
  padding: 8px;
  background-color: var(--secundary-color);
  font-family: 'Inter', sans-serif;
  color: white;
}

.inputSubmit a {
  text-decoration: none;
  color: white;
}

.inputSubmit:hover {
  opacity: 80%;
}

.bts {
  height: 50px;
  position: absolute;
  margin-top: 10px;
  right: 0;
  margin-right: 10px;
}

.menu {
  display: flex;
  background-color: var(--primary-color);
  justify-content: space-around;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu ul li {
  padding: 20px;
  padding-bottom: 0;
}


.menu ul li a {
  text-decoration: none;
  color: black;

}

/*
.menu ul li:hover {
  border-bottom: 3px solid #295CCB;
  border-style: 58%;
  padding: 5px;

}
*/
.selecionado {
  border-bottom: 3px solid #295CCB;
  border-style: 58%;
  padding: 5px
}

/* seções*/
/*.conteiner {
  width: auto;
  height: 400px;
  width: 90%;
  margin-top: 5px;
  padding: 0;
  margin-left: 50px;
} */

.conteiner h2 {
  margin-left: 40px;
  margin-top: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
}

/* .conteiner img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  position: absolute;
  left: 10px;
} */

.conteiner h3 {
  margin-left: 60px;
  font-family: monospace;
  font-size: 2em;
}

dialog {
  position: absolute;
  background-color: #D1DFE1;
  border: none;
  width: 400px;
  height: 400px;
  text-align: center;
}

dialog h2 {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
}

dialog input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0B2C4D;
  width: 200px;
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 15px;
  text-align: center;
}

.btSair {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 1em;
  font-style: bold;
  right: 0;
  top: 0;
}

dialog label {
  float: left;
  width: 100px;
  text-align: left;
  margin-left: 100px;
}

dialog button {
  margin-top: 10px;
}

.perfiheader {

  background: url(../img/ondulacao.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary-color);
  border-bottom: 1px solid #fff;
  position: relative;
}

#menu {
  background-color: #fff;
}

.imgPerfil {
  position: absolute;
  left: 95px;
}

/*FOTO DE PERFIL REDONDAAAAAAAAAAAAA*/
.fotoPerfil {

  margin-top: 30px;
  border-radius: 50%;

}

/* carrossel */
.container {
  position: relative;
  padding: 15px;
  width: auto;
  margin: 5px;

}

.gallery-wrapper {
  overflow-x: auto;

}

/*.gallery {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;

}

.gallery .imgCarrosel {
  width: 340px;
  height: 320px;
  border-radius: 55%;
  border-radius: 15px;
  margin-left: 20px;
  ;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 15px;
  line-height: 200px;
  width: 30px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, black);

}

.btPassarC {
  width: auto;
  position: absolute;
}

/* .gallery-wrapper {
  display: flex;
  overflow: hidden;
}

.gallery-wrapper div {
  flex: 1;
}

.gallery-wrapper img {
  max-width: 100%;
  height: auto;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: 0.2s;
}

.gallery-wrapper img:hover {
  opacity: 1; 
} */

.my-prev {
  background-color: #295CCB;
}

/*RESPONSIVIDADE*/


@media screen and (max-width:1400px) {
  #logo {
    width: 100px;
    height: 100px;

  }

  .brrPesq {
    position: relative;
    width: 750px;
    height: 30px;
    left: 250px;
  }

  .brrPesq #brPesq {
    width: 600px;
    height: 30px;
  }

  .brrPesq #btPesq {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
}

@media screen and (max-width:480px) {

  header {
    height: 100px;
    position: absolute;
  }

  #logo {
    width: 40px;
    height: 40px;
    justify-content: center;
  }

  .brrPesq {
    position: relative;
    width: 750px;
    height: 30px;
    left: 250px;
  }

  .brrPesq #brPesq {
    width: 600px;
    height: 30px;
  }

  .brrPesq #btPesq {
    width: 30px;
    height: 30px;
    margin-top: 5px;
  }
}

/* aparecer mensagenzinha de 2 seg na tela */
@keyframes hide {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

.mensagemzinha {
  animation: hide 2s 2s forwards
}